<section class="founder-section layout-pt-60 layout-pb-60">
	<div class="auto-container">
		<div class="row justify-content-between align-items-end">
			<div class="col-lg-9">
				<h2 class="fw-700 text-green">
					MEET OUR DOCTORS
				</h2>
			</div>
		</div>

		<div class="row grid-base pt-50 wow fadeInUp">
			<%= render partial: "doctors/doctor", collection: @doctors %>
		</div>
	</div>
</section>
