<table class="table table-hover">
	<tr>
		<td style="width:15%;"><b>Meta Title</b></td>
		<td><%= @page.meta_title %></td>
	</tr>
	<tr>
		<td><b>Meta Description</b></td>
		<td><%= @page.meta_description %></td>
	</tr>
</table>
