<!-- Call To Action Two -->
<section class="call-to-action-two bg-green">
	<div class="auto-container">
		<div class="row">
			<div class="col-lg-6 col-md-10">
				<div class="sec-title light">
					<div class="text">Feel Free to inquire regarding our services</div>
					<h2 style="text-transform:uppercase">We’d love to hear from you</h2>
				</div>
			</div>
			<div class="col-lg-6 col-md-10 d-flex justify-content-end align-items-center">
				<div class="btn-box">
					<%= link_to "mailto:#{get_address.email1}", class: "theme-btn btn-style-three btn-transparent text-lowercase" do %>
						<%= get_address.email1 %>
						<span class="icon-special">
							<i class="fa fa-envelope" style="font-size:20px;margin-top:9px;"></i>
						</span>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Call To Action -->
