<li>
	<div class="header-searchbar">
		<a href="#search-header" class="header-search-form"><i class="veritas-icon-search search-button"></i></a>
		<!-- search input-->
		<form id="search-header" method="post" action="<%= search_url %>" name="search-header" class="mfp-hide search-form-result">
			<div class="search-form position-relative">
				<button type="submit" class="veritas-icon-search close-search search-button"></button>
				<input type="text" name="search" class="search-input" autocomplete="off">
			</div>
		</form>
	</div>
</li>
