<!-- About Section -->
<section class="about-section style-two">
	<div class="auto-container">
		<div class="row justify-content-between align-items-end">
			<div class="col-lg-10">
				<h1 class="fw-700">
					PATIENT’S <span class="text-orange">CARE AND COMFORT</span><br/>
					ARE OUR PRIORITIES
				</h1>
			</div>
		</div>
		<div class="row pt-50">
			<!-- Image Column -->
			<div class="image-column col-lg-5 col-md-5 col-sm-12">
				<div class="inner-column wow fadeInRight">
					<figure class="image text-start">
						<%= image_tag("about-pic.png", class: "border-radius-8") %>
					</figure>
				</div>
			</div>
			<!-- Content Column -->
			<div class="content-column col-lg-7 col-md-7 col-sm-12">
				<div class="inner-column wow fadeInLeft">
					<div class="sec-title">
						<div class="text">
							Our healthcare professionals are prepared and equipped to address any and all medical problems that they come across.
						</div>
						<div class="text">
							As leaders in their fields, their expertise is valuable in advising and supporting our patients through uncertain times.
						</div>
						<div class="text">
							Our hospital prioritizes patient care and comfort, and will always lay a helping hand in your medical journey,
							whether it be standard medical check-ups or treating patients who need immediate care.
						</div>
					</div>
					<a href="<%= about_path %>" class="theme-btn btn-style-three">Learn More</a>
				</div>
				<div class="inner-column mt-50 wow fadeInRight d-block d-md-none">
					<figure class="image">
						<%= image_tag("mission-img.png") %>
					</figure>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End About Section -->
