<div class="content">
	<div class="num-date"><%= @date_day || Date.today.strftime('%d') %></div>
	<h3 class="day-date"><%= @date_wday || Date.today.strftime('%A') %></h3>
	<% if @events %>
		<% unless @events.empty? %>
			<strong style="margin-top:10px;">Current Events</strong>
			<div class="current-events">
				<ul>
					<% @events.each do |event| %>
						<li><%= event.title %></li>
					<% end %>
				</ul>
			</div>
		<% else %>
			<div class="current-events">
				<strong>No Events</strong>
			</div>
		<% end %>
	<% else %>
		<div class="current-events">
			<strong>No Events</strong>
		</div>
	<% end %>
</div>
