<!-- Info Section -->
<div class="login-section">
	<div class="outer-box">
		<div class="login-form default-form">
			<div class="form-inner">
				<h1>
					TRIA DIPA HOSPITAL<br/>
					OBGYN PROGRAM
				</h1>

				<ol class="list-programs">
					<li><a href="#">Pregnancy</a></li>
					<li><a href="#">Childbirth</a></li>
					<li><a href="#">Postpartum</a></li>
					<li><a href="#">Caesarean Section</a></li>
					<li><a href="#">Placenta Banking</a></li>
				</ol>

				<div class="bottom-box">
					<div class="btn-box row">
						<div class="col-lg-6 col-md-6 col-5">
							<a href="#" class="theme-btn btn-style-three btn-transparent text-uppercase">LEARN MORE</a>
						</div>
						<div class="col-lg-6 col-md-6 col-6">
							<a href="#" class="theme-btn btn-style-three btn-transparent text-uppercase">MAKE AN APPOINTMENT</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="image-layer" style="background-image: url(<%= image_url("tria-dipa-programs.png") %>);"></div>
</div>
<!-- End Info Section -->
<div class="image-column col-auto d-block d-md-none">
	<figure class="image">
		<%= image_tag("tria-dipa-programs.png") %>
	</figure>
</div>
