<!-- Specialist Section -->
<section class="layout-pt-60">
	<div class="auto-container">
		<div class="default-tabs" id="specialist-list">
			<%= render "tab_specialists" %>
		</div>
	</div>
</section>
<!-- End Specialist Section -->
