<% if @specialist_schedules %>
<div class="calendar-specialists">
	<div class="form-inner">
		<ol class="list-programs">
			<% @specialist_schedules.each_with_index do |ss, index| %>
				<li class="<%= 'active' if ss.id == @specialist_current.try(:id) %>"><a href="#" data-id="<%= ss.id %>" class="link_search_doctors"><%= ss.name %></a></li>
			<% end %>
		</ol>
	</div>
</div>
<% end %>
