<!-- About Section -->
<section class="about-section style-two layout-pt-0">
	<div class="auto-container">
		<div class="row">
			<!-- Image Column -->
			<div class="image-column col-lg-6 col-md-12 col-sm-12">
				<figure class="image wow fadeInLeft">
					<%= image_tag("vision-img.png", class: "border-radius-8") %>
				</figure>
			</div>

			<!-- Content Column -->
			<div class="content-column col-lg-6 col-md-12 col-sm-12">
				<div class="inner-column wow fadeInUp">
					<div class="sec-title">
						<h2>Vision</h2>
						<div class="text mr-20">
							Tria Dipa Hospital was founded on June 2nd, 1990. Our longstanding history and relationship with the community has allowed us to be a trusted healthcare center. We have meticulously selected our group of doctors, nurses, and healthcare professionals to make Tria Dipa Hospital what it is today, a premier center for medical advice and treatment.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row margin-top--100">
			<!-- Content Column -->
			<div class="content-column col-lg-6 col-md-12 col-sm-12 d-none d-md-block">
				<div class="inner-column bottom-right wow fadeInUp">
					<div class="sec-title" style="margin-bottom:70px;">
						<h2>Mission</h2>
						<div class="text ml-20">
							Our mission is to provide quality health services to all levels of society, sought after and trusted by the community for our professionalism and personalized approach in catering to the needs of our patients.
						</div>
					</div>
				</div>
			</div>

			<!-- Image Column -->
			<div class="image-column col-lg-6 col-md-12 col-sm-12 mb-0">
				<figure class="image wow fadeInLeft">
					<%= image_tag("mission-img.png", class: "border-radius-8") %>
				</figure>
			</div>

			<!-- Content Column -->
			<div class="content-column col-lg-6 col-md-12 col-sm-12 d-block d-md-none">
				<div class="inner-column wow fadeInUp">
					<div class="sec-title">
						<h2>Mission</h2>
						<div class="text mr-20">
							Our mission is to provide quality health services to all levels of society, sought after and trusted by the community for our professionalism and personalized approach in catering to the needs of our patients.
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- End About Section -->

