<%= render "about_banner" %>
<!-- About Section -->
<section class="about-section style-two">
	<div class="auto-container">
		<div class="row justify-content-between align-items-end">
			<div class="col-lg-9">
				<h1 class="fw-700">
					ABOUT <span class="text-orange">TRIA DIPA HOSPITAL
				</h1>
			</div>
		</div>
		<div class="row pt-50 pb-30">
			<!-- Content Column -->
			<div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
				<div class="inner-column wow fadeInLeft">
					<div class="sec-title">
						<div class="text">
							Our organization is dedicated to providing a wide range of healthcare services to our surrounding communities, and build their trust through our sheer professionalism and dedication in treating and caring for our patients. 
						</div>
						<div class="text">
							Tria Dipa Hospital was founded on June 2nd, 1990. Our longstanding history and relationship with the community has allowed us to be a trusted healthcare center. We have meticulously selected our group of doctors, nurses, and healthcare professionals to make Tria Dipa Hospital what it is today, a premier center for medical advice and treatment.
						</div>
					</div>
				</div>
			</div>

			<!-- Content Column -->
			<div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
				<div class="inner-column wow fadeInLeft">
					<div class="sec-title">
						<div class="text">
							We aim to keep growing as an institution, and continue to give the help and support that our patients require when they come to us for help.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End About Section -->
<%= render "vision_mission" %>

<!-- Subscribe Section -->
<section class="our-team-pic layout-pt-60 layout-pb-60">
	<div class="auto-container wow fadeInUp" style="padding:0;">
		<div class="row">
			<div class="col-md-12 text-center">
				<%= image_tag("our-team.png", class: "border-radius-8") %>
			</div>
		</div>
	</div>
</section>
<!-- End Subscribe Section -->

