<%- medias = Gallery.videos.all %>
<% unless medias.empty? %>
<div class="container-xl">
	<div class="row align-items-center">
		<% medias.each do |media| %>
			<div class="col-12 col-md-4 position-relative text-center margin-10px-bottom">
				<a class="popup-youtube" href="<%= media.video_url %>">
					<img src="<%= url_for(media.image) if media.image.attached? %>" class="w-100 border-radius-8" alt="<%= media.title %>" />
					<div class="icon-play">
						<div class="absolute-middle-center w-80">
							<%= image_tag("icon-play.png") %>
						</div>
					</div>
				</a>
			</div>
		<% end %>
	</div>
</div>
<% end %>
