<% if page.current? %>
  <li class='active'>
    <%= content_tag :a, page, class: 'page', data: { remote: remote }, rel: page.rel %>
  </li>
<% else %>
  <li>
    <%= link_to page, url, class: 'page', remote: remote, rel: page.rel %>
  </li>
<% end %>
