<table class="table table-hover">
	<tr>
		<td><b>Meta Title</b></td>
		<td><%= @article.meta_title %></td>
	</tr>
	<tr>
		<td><b>Meta Description</b></td>
		<td><%= @article.meta_description %></td>
	</tr>
</table>
